* {
  box-sizing: border-box;
}
body {
	background-color: beige;
}
h1 {
  margin:: 25px; 
  text-align:  center;
  font-family: Brush Script MT;
  font-weight: bold;
  font-size: 400%;
color: skyblue;
}

section {
	postion: relative;
	padding:  15px;
	width:  100%;
}

div {
	postion: relative;
	background-color: black;
	border: 1px skyblue;
	width:  100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.s1 {
	float:  right;
	color: black;
	width:  100px;
	padding:  5px;
	margin: 0px;
	border:  3px skyblue;
	text-align:  center;
	font-size: 100%;
	font-weight: bold;
	background-color: skyblue;
}
.s2 {
	float:  right;
	color: black;
	width:  100px;
	padding:  5px;
	margin: 0px;
	border:  3px skyblue;
	text-align:  center;
	font-size: 100%;
	font-weight: bold;
	background-color: skyblue;
}
.s3 {
	float:  right;
	color: black;
	width:  100px;
	padding:  5px;
	margin: 0px;
	border:  3px skyblue;
	text-align:  center;
	font-size: 100%;
	font-weight: bold;
	background-color: skyblue;
}
.content {
		padding: 5px;
		border: none;
		background-color: ghostwhite;
		font-family: Arial;
		color: black;
		margin: 0px;
		height: 200px;
		overflow: auto;
    clear: right;
}

/********** desktop version **********/
@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}

/********** tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .col-md-6 {
    float:  left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-md-12 {
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/********** mobile version **********/
@media (max-width: 767px) {

  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
